/data
!/data/lua/banjo_tooie_connector.lua
/docs
/test
/typings
/utilities
/WebHostLib
/worlds
!/worlds/banjo_tooie
/worlds_disabled
/_speedups.*
/.coveragerc

/inno_setup.iss
/intset.h
/meta.yaml
/pytest.ini
/requirements.txt
__pycache__

/*.apworld
/*.zip
/*.py

/.gitattributes
/.github
/.run
/.vscode
